[*.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = error

# SA1024: Colons Should Be Spaced Correctly
dotnet_diagnostic.SA1024.severity = error

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = error

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = error

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1210: Using directives should be ordered alphabetically by namespace
dotnet_diagnostic.SA1210.severity = error

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = error

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
