@page
@using DataImporter.Entities
@model DataImporter.Web.Pages.Transactions.SearchModel
@{
    ViewData["Title"] = "Transactions";
}

<h2>Transactions</h2>
<br />

<div>
    <button id="reset-button" class="btn btn-warning btn-sm" style="margin-bottom: 0.5em;">Reset</button>
    <div class="form-group">
        <label>Currency</label>
        <select id="currency" asp-for="Currency" asp-items="Html.GetEnumSelectList<CurrencyCode>()" class="form-control">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group">
        <label>Status</label>
        <select id="status" asp-for="Status" asp-items="Html.GetEnumSelectList<TransactionStatus>()" class="form-control">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group">
        <label>From Date</label>
        <input id="from-date" asp-for="FromDate" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group">
        <label>To Date</label>
        <input id="to-date" asp-for="ToDate" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input id="json" class="custom-control-input" type="checkbox" />
        <label class="custom-control-label" for="json">Json View</label>
    </div>
    <button id="filter-button" class="btn btn-success">Filter</button>
</div>

<br />

<table class="table table-striped" style="margin-bottom: 0;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Payment</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.Payment</td>
                <td>@transaction.Status</td>
            </tr>
        }
    </tbody>
</table>

<div style="padding-top: 1em;">
    <partial name="_Pagination" for="Pagination" />
</div>

@section Scripts{
    <script>
        function filter(page = 1) {
            const queryParams = {
                PageNumber: page,
                Currency: $('#currency').val(),
                Status: $("#status").val(),
                FromDate: $("#from-date").val(),
                ToDate: $("#to-date").val(),
                Json: $("#json").is(':checked'),
            };

            const url = window.location.origin + window.location.pathname + "?" + $.param(queryParams);
            window.location.href = url;
        };

        $("#filter-button").on('click', filter);

        $("#reset-button").on('click', function () {
            window.location.href = window.location.origin + window.location.pathname;
        })
    </script>
}